@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

main {
  width: 100%;
  height: 100%;
  background-color: #131313;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #account {
  text-align: center;
  max-width: 301px;
  margin: 15.6rem 15px 0 15px;
}

main #account h1 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

main #account h1 strong {
  text-decoration: underline;
  color: #8681BC;
}

main #account #induce {
  width: 100%;
  height: 188px;
  position: relative;
  margin-top: 6.06rem;
  margin-bottom: 9.5rem;
}

main #account #induce .elipses {
  position: absolute;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

main #account #induce #elipse1 {
  top: 0;
  right: 50px;
}

main #account #induce #elipse2 {
  top: 20px;
  right: 70px;
  fill: transparent;
  z-index: 10;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

main #account #induce #elipse3 {
  top: 40px;
  right: 90px;
}

main #account #induce #arrow {
  position: absolute;
  top: 70px;
  right: 120px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: 11;
}

@-webkit-keyframes animate {
  0% {
    top: 70px;
  }
  100% {
    top: 90px;
  }
}

@keyframes animate {
  0% {
    top: 70px;
  }
  100% {
    top: 90px;
  }
}

main #account #induce:hover .elipses {
  -webkit-filter: drop-shadow(0 0 0.75rem #8681BC);
          filter: drop-shadow(0 0 0.75rem #8681BC);
}

main #account #induce:hover #elipse1 {
  -webkit-transform: translate(30px, -30px);
          transform: translate(30px, -30px);
}

main #account #induce:hover #elipse2 {
  fill: #8681BC;
}

main #account #induce:hover #elipse3 {
  -webkit-transform: translate(-30px, 30px);
          transform: translate(-30px, 30px);
}

main #account #induce:hover #arrow {
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

main #form {
  width: 100%;
  background-color: #242424;
  padding: 4.3rem 2rem;
  margin-left: 0.68rem;
  border-radius: 42px 42px  0 0;
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #362F8B;
  -webkit-box-shadow: 0px 4px 54px #362F8B;
          box-shadow: 0px 4px 54px #362F8B;
  color: #5E5E5E;
}

main #form h2 {
  font-weight: 500;
  font-size: 1.3rem;
  color: #C9C9C9;
  line-height: 2.1rem;
}

main #form form {
  width: 100%;
  margin-top: 6.5rem;
}

main #form form #containerInputsText {
  max-width: 689px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main #form form #containerInputsText div {
  width: 100%;
  position: relative;
}

main #form form #containerInputsText div label {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 0.87rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main #form form #containerInputsText div input {
  width: 100%;
  height: 56px;
  background-color: transparent;
  border: 1px solid #5E5E5E;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 10px;
  position: relative;
}

main #form form #containerInputsText div input:focus {
  outline: none;
  border-color: #362F8B;
  color: white;
  font-size: 0.87rem;
}

main #form form #containerInputsText div input:focus ~ label, main #form form #containerInputsText div input:valid ~ label {
  top: -15px;
  font-size: 0.7rem;
}

main #form form #containerInputsText div input:valid {
  color: white;
}

main #form form #containerInputsText div img {
  position: absolute;
  right: 10px;
  top: 25px;
  cursor: pointer;
}

main #form form #containerInputsText div span {
  font-size: 0.8rem;
  color: #C63030;
  opacity: 0;
}

main #form form #containerCheckbox {
  margin-top: 2.5rem;
  margin-bottom: 3.6rem;
  max-width: 689px;
}

main #form form #containerCheckbox .errorValidation::before {
  border-color: red;
  -webkit-box-shadow: 0px 3px 15px red;
          box-shadow: 0px 3px 15px red;
}

main #form form #containerCheckbox input {
  display: none;
}

main #form form #containerCheckbox input:checked + label::before {
  background-color: #362F8B;
  border-color: #362F8B;
  -webkit-box-shadow: 0px 4px 15px #362F8B;
          box-shadow: 0px 4px 15px #362F8B;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L6 12L1 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

main #form form #containerCheckbox label {
  cursor: pointer;
  font-size: 0.75rem;
}

main #form form #containerCheckbox label::before {
  content: '';
  width: 21px;
  height: 21px;
  border-radius: 5px;
  border: 1px solid #5E5E5E;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 13px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main #form form #containerButton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #form form #containerButton button {
  width: 207px;
  height: 62px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background-color: #362F8B;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main #form form #containerButton button:hover {
  background-color: #8681BC;
  color: black;
}

@media screen and (min-width: 900px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }
  main #account {
    margin: 15.6rem 4.5rem 0 4.5rem;
  }
  main #account #induce #arrow {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  main #form {
    width: 1033px;
    height: 100vh;
    margin-top: 8.1rem;
    margin-left: 10rem;
  }
  main #form h2 {
    font-size: 1.3rem;
  }
  main #form form #containerInputsText label, main #form form #containerCheckbox label {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */